:root {
  --white: #ffffff;
  --black: #0000;
}

html {
  box-sizing: border-box;
  color: var(--white);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: black;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px;
  position: relative;
}
.header__nav__inner {
  display: flex;
}

.logo {
  text-decoration: none;
  font-size: 53px;
  font-weight: 700;
  color: var(--white);
}
.header__nav-list {
  display: flex;
}
.header__nav__item {
  padding-right: 30px;
  list-style: none;
}
.header__nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: var(--white);
}
.hamburger {
  position: absolute;
  right: 0px;
  top: -5px;
}
.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 30px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.header__content {
  background-image: url("../img/bcc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.header__content__inner {
  padding: 0;
  margin: 0;
  margin: 20px 30px 25px;
  width: 40%;
}
.header__content-title {
  font-weight: 200;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  color: black;
}
.header__content__wrapper {
  display: flex;
  justify-content: center;
}
.header__content__wrapper-mail {
  text-decoration: none;
  border: 1px solid blue;
  background-color: blue;
  padding: 6px 20px 6px;
  border-radius: 5px;
  font-size: 20px;
  color: var(--white);
  font-weight: 600;

  margin-right: 29px;
}
.header__content__wrapper-call {
  border-radius: 50%;
  border: 2px solid blue;
  padding: 5px 10px 0 10px;
  color: blue;
  line-height: 30px;
}
.header__service {
  padding: 40px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .header__services__wrapper {
  padding: 20px;
} */
.header__services-title {
  color: black;
  font-size: 35px;
  font-weight: 600;
  width: 225px;
}
.header__services-icon {
  font-size: 65px;
  color: black;
  width: 193px;
  padding-left: 55px;
}
/* -------------Tablet------------------ */
@media (max-width: 768px) {
  
  .header__container {
    background-color: red;
  }
  .header__nav {
    padding: 0;
  }
  .header__nav__inner {
    display: none;
  }
  .logo {
    font-size: 35px;
  }
  .header__content__inner {
    margin: 40px 30px 25px;
  }
  .header__content-title {
    font-size: 15px;
    margin: 0;
    line-height: 23px;
  }
  .header__content__wrapper-mail {
    padding: 6px 9px 5px;
    font-size: 11px;
  }
  .header__content__wrapper-call {
    font-size: 10px;
    padding: 6px 7px 4px;
    line-height: 9px;
  }
  .header__service{
    padding: 0px 30px 20px 30px;
    margin: 15px;
  }
  .header__services__wrapper {
    padding-left: 30px;
  }
  .header__services-icon {
    font-size: 40px;
  }
  .header__services-title {
    font-size: 27px;
}
@media (max-width: 480px) {
  .header{
    scroll-behavior: smooth;
  overflow: scroll;
  }
  .header__container {
    background-color: green;
  }
  .header__content__inner{
    margin: 18px 10px 10px;
  }
  .header__nav {
    padding: 0;
  }
  .header__nav__inner {
    display: none;
  }
  .logo {
    font-size: 35px;
  }

  .header__content-title {
    font-size: 15px;
    margin: 0;
    line-height: 23px;
  }
  .header__content__wrapper-mail {
    padding: 6px 9px 5px;
    font-size: 11px;
  }
  .header__content__wrapper-call {
    font-size: 10px;
    padding: 6px 7px 4px;
    line-height: 9px;
  }
  .header__service{
    padding: 0px 30px 20px 30px;
    margin: 15px;
  }
  .header__services__wrapper {
    padding-left: 30px;
  }
  .header__services-icon {
    font-size: 40px;
  }
  .header__services-title {
    font-size: 18px;
}
  

} /* ---------------CSS of Catalog page---------------------*/
@import url("./catalog.css");

@import url("./about.css");

@import url("./contact.css");
